html,
body {
  height: 100%;
  letter-spacing: 0.05rem;
}

.App {
  text-align: center;
  height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Header CSS */

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 19vh;
  width: 100%;
  background-image: url("bg-images/carbon-background.jpg");
  color: white;
}

.Header h1 {
  font-family: "Cinzel", serif;
  margin: 3px;
}

.Header span {
  margin: 3px;
}

.Tabs {
  margin-bottom: 0;
}

.Main {
  display: flex;
  flex-direction: column;
  margin-top: 19vh;
  overflow: auto;
  height: 76vh;
}

/* Home page CSS */

.Home {
  width: 100%;
  background-image: url("bg-images/puzzle-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.Bio {
  height: 100vh;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 48%;
  text-align: left;
}

.Bio h3 {
  margin: 10px;
}

.Bio2 {
  display: flex;
  margin-top: 20px;
}

.Bio2 img {
  width: 175px;
  height: auto;
  margin: 15px;
  margin-right: 20px;
  border: solid white 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Services and Team pages CSS */

.ServicesTeam {
  text-align: left;
  width: 100%;
  background-image: url("bg-images/handshake-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.STBlock {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ST1 {
  margin-left: 10px;
  margin-right: 10px;
}

.ST1 img {
  width: 175px;
  height: auto;
  border: solid white 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.ST2 {
  margin-right: 10px;
  margin-left: 10px;
}

/* Contact CSS */

.Contact {
  text-align: center;
  background-image: unset;
}

.ContactBlock {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/* Footer CSS */

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("bg-images/carbon-background.jpg");
  color: white;
  height: 5vh;
  position: static;
}

/* Medium size Screens */

@media only screen and (max-width: 850px) {
  body {
    overflow: scroll;
  }

  .Header {
    height: fit-content;
    position: relative;
  }

  .Main {
    margin-top: 0px;
    height: fit-content;
  }

  .Bio {
    height: fit-content;
    margin-bottom: 10px;
  }

  .Bio h3 {
    margin-top: 5px;
  }

  .Bio2 {
    margin-bottom: 10px;
    padding-bottom: 12px;
  }

  .STBlock {
    padding-bottom: 20px;
  }

  .ContactBlock {
    padding: 10px;
    height: auto;
  }

  #OfficeImg {
    width: auto;
    height: auto;
  }

  .Footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

/* Small screens */

@media only screen and (max-width: 771px) {
  .Home {
    align-items: center;
  }

  .Bio {
    width: 100vw;
    margin: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .Bio2 {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .Bio2 img {
    margin-bottom: 30px;
  }

  .Bio h3 {
    margin-top: 20px;
  }

  .ServicesTeam {
   background-image: unset;
  }

  .STBlock {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .ST1 img {
    margin: auto;
    display: block;
  }

  .ContactBlock {
    flex-direction: column;
    text-align: center;
  }

  #OfficeImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .Footer {
    position: relative;
  }
}
