.App {
  text-align: center;
  background-color: silver;
  height: 100vh;
}

.Header {
  margin-top: 0mm;
  background-image: url("https://wallpaperaccess.com/full/660456.jpg");
  color: white;
}

.Header h2 {
  margin-top: 0mm;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/660456.jpg");
  color: white;
}
